<div class="rate-card">
  <h1 class="rate-card-title">Объединяй</h1>
<div>
  <div class="rate-card-icons">
    <div class="logo-web"></div>
    <p class="rate-card-icon-title">До 100 Мбит/с</p>
  </div>
  <div class="rate-card-icons">
    <div class="logo-tv"></div>
    <p class="rate-card-icon-title">140 каналов 20HD</p>
  </div>
</div>
<hr/>
<div>
  <div style="display: inline-block;">
    <p class="rate-card-cost">899</p>
    <div style="display: inline-block;">
      <p class="rate-card-currency" style="text-decoration: underline;">руб</p>
      <p class="rate-card-currency" style="position: relative;
      top: -8px;">мес</p>
    </div>
  </div>
  <button class="rate-card-button">Подключить</button>
</div>
</div>
