<h1 class="form-header">Заявка на подключение</h1>
<div style="margin-top: 30px;">
  <div class="form-locationChange" style="display: inline;">
    <input type="radio">
    <p class="location">В квартиру</p>
  </div>
  <div class="form-locationChange">
    <input type="radio">
    <p class="location">В частный дом/офис</p>
  </div>
</div>
<input placeholder="Ваш телефон*" class="form-inputs" type="text" style="display: block;">
<input placeholder="Ваш имя" class="form-inputs" type="text">
<input placeholder="Адрес подключения" class="form-inputs" type="text">
<p class="form-condition">Поля отмеченные *, обязательны к заполнению</p>
<button class="form-submit">Отправить заявку</button>
