
<h1 class="form-header">Заявка на подключение</h1>
<div style="margin-top: 30px;display:flex;
justify-content: center;
align-items: center">
  <div class="form-locationChange" style="display: inline;">
    <input name="location" type="radio" checked>
    <p class="location">В квартиру</p>
  </div>
  <div class="form-locationChange">
    <input type="radio" name="location">
    <p class="location">В частный дом/офис</p>
  </div>
</div>
<input id="phoneNumber" placeholder="Ваш телефон*" class="form-inputs" type="text" style="display: block;">
<input id="name" placeholder="Ваш имя" class="form-inputs" type="text">
<input id="address" placeholder="Адрес подключения" class="form-inputs" type="text">
<p class="form-condition">Поля отмеченные *, обязательны к заполнению</p>
<button class="form-submit" (click)="submit()">Отправить заявку</button>

